.patient-inp-box-container {
  display: flex;
  flex-direction: column;

  .patient-inp-box-1,
  .patient-inp-box-2 {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .patient-inp-box-2 {
    flex-direction: row-reverse;
  }

}
