<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>

    <div class="main-container">
      <div class="fetch-container">
        <app-fetch-bill></app-fetch-bill>
      </div>
      <div class="patient-details-container">
        <app-patient-details></app-patient-details>
      </div>
      <div class="bill-details-container">
        <app-bill-details></app-bill-details>
      </div>
    </div>
    <!-- <router-outlet></router-outlet> -->
    
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
